
table {
    border: 4px solid #000;
    border-collapse: collapse;
    width: 400px;
    height: 400px;
    text-align: center;
    font-size: 30px;
 font-family: "Times New Roman";
 
}

td {
    border: 1px solid lightgray;
    width: 100px;
    height: 100px;
}
tr{
    height: 50px;
}
.yellow
{
    background-color: #F0BE2E;
    border-color: black;
}
.pink
{
    background-color:#AC4C4C ;
    border-color: black;
    color: white;
}
.red
{
    background-color:red ;
    border-color: black;
}
.gray
{
    background-color: #333333;
    border-color: black;
    color: white;
}